
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label class="sr-only">Select Service</label>
    <select name="select_service" id="select_service" class="selectpicker form-control" data-style="btn-white">
        <option value="12">Installation Service</option>
        <option value="Web Design">Web Design</option>
        <option value="Web Development">Web Development</option>
        <option value="Graphic Design">Graphic Design</option>
        <option value="Others">Others</option>
    </select>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label class="sr-only">What is max price?</label>
    <select name="select_price" id="select_price" class="selectpicker form-control" data-style="btn-white">
        <option value="$100 - $2000">$100 - $2000</option>
        <option value="$2000 - $4000">$2000 - $4000</option>
        <option value="$4000 - $10000">$4000 - $10000</option>
    </select>
</div>